<!-- hero.component.html -->
<section class="hero">
  <div class="hero__background"></div>
  <div class="container">
    <div class="hero__content  m-auto px-4 mb-5">
      <p-carousel [value]="slides"
                 [numVisible]="1"
                 [numScroll]="1"
                 [circular]="true"
                 [autoplayInterval]="5000"
                 [showNavigators]="true"
                 [showIndicators]="true">
        <ng-template let-slide pTemplate="item">
          <div class="hero-slide">
            <div class="d-flex  justify-content-between align-items-center  container_feater">

            <div>
              <h1 class="hero__title">{{ slide.title }}</h1>
              <p class="hero__description">{{ slide.description }}</p>
              <div class="hero__features">
                <ul>
                  <li *ngFor="let feature of slide.features">{{ feature }} <span class="feater_icon mx-2" style="color:red;"><i class="fa-solid fa-greater-than"></i></span></li>
                </ul>
              </div>
            </div>


              <div class="hero__buttons">
                <button class="hero__btn hero__btn--primary">{{ slide.primaryButton }}</button>
              </div>
            </div>

          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="hero__footer mt-5">

      <div class="hero__footer-content mt-4">
        <div class="container">
          <hr class="w-100">
        <div class="row mt-4">
          <div class="col-md-6">
            <h2 class="hero__footer-title">Découvrez comment notre équipe dynamique, nos partenariats stratégiques et nos projets innovants créent un impact durable dans le paysage sportif africain et au-delà</h2>
          </div>
          <div class="col-md-6">
            <div class="hero__footer-slogan">
              <h2 class="mb-2">ENSEMBLE,</h2>
              <h2 class="mb-2">CULTIVONS LES</h2>
              <h2 class="mb-2">TALENTS ET</h2>
              <h2 class="mb-2">CONSTRUISONS</h2>
              <h2>L'AVENIR</h2>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
