<section class="hero">
    <div class="hero__background"></div>
    <div class="container">
      <div class="hero__content">
        <h1 class="hero__title">{{title}}</h1>
        <p class="hero__description">{{description}}</p>
        
        <app-count-dowan-time></app-count-dowan-time>
        
        <div class="hero__buttons">
          <button class="btn btn-primary hero__btn hero__btn--book">BOOK TICKET</button>
          <button class="btn btn-outline-light hero__btn hero__btn--learn">LEARN MORE</button>
        </div>
      </div>
    </div>
  </section>
