<section class="talentmap">
    <div class="container">
      <h2 class="talentmap__title">NOS PROJETS</h2>
      <h3 class="talentmap__subtitle mt-4">
        <span class="talentmap__highlight ">TalentMap</span> - Révélateur de Potentiels
      </h3>

      <div class=" d-flex justify-content-between align-items-center  ">
        <div class="px-3 w-50">
          <p class="talentmap__text">
            TalentMap est une application innovante développée par AFRISPORT Dynamics pour
            révolutionner la détection et le suivi des talents sportifs africains. Cette plateforme
            technologique avancée permet de cartographier avec précision le potentiel sportif du
            continent, offrant ainsi une visibilité sans précédent aux jeunes athlètes prometteurs.
          </p>
        </div>
        <div class="px-3 w-50">
          <p class="talentmap__text ">
            Grâce à des algorithmes sophistiqués et une interface intuitive, TalentMap facilite
            l'identification rapide et fiable des talents, assure un suivi personnalisé de leur
            progression, et optimise leur valorisation auprès des clubs professionnels et des
            investisseurs internationaux.
          </p>
        </div>
      </div>

      <div class="talentmap__tags">
        <span class="talentmap__tag">Détection</span>
        <span class="talentmap__tag">Suivi progression</span>
        <span class="talentmap__tag">Valorisation</span>
        <span class="talentmap__tag">Mise en relation</span>
        <span class="talentmap__tag">Analytique</span>
      </div>
    </div>
</section>
