<section class="partner">

    <div class="container">
      <div class="partner__header d-flex  align-items-center ">
      <div class="logo">
        <img src="/images/organize/logo-removebg-preview.png" alt="Reform Sports" class="partner__logo" width="100px" />
      </div>
  <div class="mx-2">
    <h2 class="partner__title ">REFORM SPORTS</h2>
    <h3 class="partner__subtitle">Partenaire Technique</h3>
  </div>
      </div>
      <div class="row partner__content">
        <div class="col-4">
          <img src="/images/organize/reform-partner_1.PNG" alt="Field prep" class="partner__image " />
        </div>
        <div class="col-4">
          <img src="/images/organize/reform-partner_2.PNG" alt="Field prep" class="partner__image " />
        </div>
        <div class="col-4">
          <img src="/images/organize/reform-partner_3.PNG" alt="Field prep" class="partner__image " />
        </div>
        <div class="col-md-6 partner__card">
  
          <p class="partner__text">
            Reform Sports, leader turc dans la construction d'infrastructures sportives, accompagne
            <strong>AFRISPORT Dynamics</strong> dans un ambitieux programme de modernisation des équipements
            sportifs en Afrique. Cette collaboration stratégique nous permet d'apporter des solutions techniques
            innovantes et durables adaptées aux besoins spécifiques du continent.
          </p>
        </div>
        <div class="col-md-6 partner__card">
          <p class="partner__text">
            Ensemble, nous développons des terrains synthétiques de dernière génération, des complexes multisports
            intégrés et des centres de performance de haut niveau. Chaque projet est conçu selon les standards
            internationaux tout en respectant les particularités locales, créant ainsi les conditions idéales pour
            l’émergence de l'excellence sportive africaine.
          </p>
        </div>
      </div>
    </div>
</section>
