.side-news-item {
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  border-left:4px solid #ff3366;
  padding-left: 10px;
  margin-bottom: 5px;

  &:first-child {
    border-top: none;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 4px;
  }

  &__meta {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #ff3366;
    text-transform: uppercase;
  }

  &__category {
    font-weight: bold;
  }

  &__date {
    color: #999;
  }
}
