@import "../../../../../../scss/main";
.main {
  position: relative;
  overflow: hidden;

}
$dark-bg: #121212;

// Base styles
.soccer-dashboard {
  background-color: $dark-bg;
  color: #ffffff;
  padding: 2rem 0;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}
