  <main class="main">
    <app-hero></app-hero>
    <!-- <app-last-match-result></app-last-match-result> -->
    <!-- <app-news-cards></app-news-cards> -->
    <app-who-we-are></app-who-we-are>
   <app-strategic-partnerships></app-strategic-partnerships>
<app-reform-partner></app-reform-partner>
<app-canon></app-canon>
<app-edimo-style-performance></app-edimo-style-performance>
<app-talentmap></app-talentmap>
    <div class="soccer-dashboard">
      <!-- <div class="container">
        <div class="row">
          <!-- Next Match Component -->
          <div class="col-md-5">
            <app-next-match [matchData]="matchData"></app-next-match>
          </div>

          <!-- League Table Component
          <div class="col-md-7">
            <app-league-table [standings]="leagueStandings"></app-league-table>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <app-video-carousel></app-video-carousel> -->
    <!-- <app-blog-post  [blogPosts]="blogPosts" [sectionTitle]="blogTitle"></app-blog-post> -->
  </main>
