<div class="countdown">
  <div class="countdown__item">
    <div class="countdown__value">{{weeks}}</div>
    <div class="countdown__label">weeks</div>
  </div>
  <div class="countdown__item">
    <div class="countdown__value">{{days}}</div>
    <div class="countdown__label">days</div>
  </div>
  <div class="countdown__item">
    <div class="countdown__value">{{hours}}</div>
    <div class="countdown__label">hr</div>
  </div>
  <div class="countdown__item">
    <div class="countdown__value">{{minutes}}</div>
    <div class="countdown__label">min</div>
  </div>
  <div class="countdown__item">
    <div class="countdown__value">{{seconds}}</div>
    <div class="countdown__label">sec</div>
  </div>
</div>
