<footer class="footer  text-light pt-5">
  <div class="container footer__main">
    <div class="row">
      <div class="col-md-2 col-sm-6" *ngFor="let section of links">
        <h6 class="footer__heading">{{ section.title }}</h6>
        <ul class="footer__list list-unstyled">
          <li *ngFor="let item of section.items">
            <a href="#" class="footer__link">{{ item }}</a>
          </li>
        </ul>
      </div> 

      <div class="col-md-3 col-sm-6">
        <h6 class="footer__heading">Rejoignez-nous</h6>
        <div class="footer__social d-flex flex-wrap gap-2 mt-2">
          <a *ngFor="let icon of socialIcons" href="#" class="footer__social-link">
            <i class="fab fa-{{ icon }}"></i>
          </a>
        </div>
        <div class="footer__logo mt-4 text-center text-md-start">
          <img src="/images/players/logo-removebg.png" alt="PSG Logo" width="60" />
        </div>
      </div>
    </div>
  </div>
</footer>


