<section class="canon">
  <div class="canon__container container">
    <div class="canon__header d-flex align-items-center mb-4">
      <img src="/images/players/logo-removebg.png" alt="Canon logo" class="canon__logo mr-3" />
      <div>
        <h2 class="canon__title " style="color:red">CANON DE YAOUNDÉ</h2>
        <h3 class="canon__subtitle text-white">Renaissance d'une Légende</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 px-0">
        <img _ngcontent-ng-c1476736620="" src="/images/organize/club.jpg" alt="Stadium" class="img-fluid rounded canon__image" style="
        height: 400px;
        width: 100%;
    ">
      </div>
      <div class="col-md-8 px-0">
        <ul class="canon__features list-unstyled">
          <li class="canon__feature d-flex mt-5">
            <img _ngcontent-ng-c1476736620="" src="/images/organize/arrow-removebg-preview.png" alt="" width="80px"  class="mx-1"  style="
           height: 25px;
            width: 43px;
        ">
            <div>
              <strong class="text-white">Héritage Prestigieux</strong><br />
              <span class="text-white-50">
                Institution historique du football africain avec un palmarès exceptionnel comptant plusieurs titres continentaux.
              </span>
            </div>
          </li>
          <li class="canon__feature d-flex mt-5">
           <img _ngcontent-ng-c1476736620="" src="/images/organize/arrow-removebg-preview.png" alt="" width="80px" class="mx-1" style="
    height: 25px;
    width: 43px;
">
            <div>
              <strong class="text-white">Héritage Professionnalisation</strong><br />
              <span class="text-white-50">
                Modernisation des structures administratives, techniques et commerciales pour un nouveau cycle d'excellence.
              </span>
            </div>
          </li>
          <li class="canon__feature d-flex mt-5">
           <img _ngcontent-ng-c1476736620="" src="/images/organize/arrow-removebg-preview.png" alt="" width="80px" class="mx-1" style="
   height: 25px;
    width: 43px;

">
            <div>
              <strong class="text-white">Rayonnement International</strong><br />
              <span class="text-white-50">
                Repositionnement du club comme vitrine du talent camerounais et africain sur la scène mondiale.
              </span>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <p class="canon__footer mt-4 text-white-50">
      <strong class="text-white">AFRISPORT Dynamics</strong> est profondément honoré d'accompagner le Canon de Yaoundé
      dans sa renaissance. Ce partenariat avec l’un des clubs les plus prestigieux d’Afrique illustre notre engagement à
      préserver l’héritage sportif tout en construisant l’avenir. Notre collaboration vise à restaurer la grandeur de
      cette institution légendaire à travers une approche globale combinant excellence sportive et gestion moderne.
    </p>
  </div>
</section>

