<section class="about  py-5">
  <div class="container">
  <h2 class="about__title text-center mb-5">QUI SOMMES-NOUS ?</h2>

  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-md-3 text-md-left mb-4 mb-md-0 d-flex align-items-center">
      <div class="mx-2">
      <h5 class="about__heading ">Notre vision</h5>
      <p class="about__text" style="color:#888">
        Devenir le catalyseur de l'excellence sportive africaine en connectant les talents aux opportunités mondiales.
      </p>
    </div>
    <img _ngcontent-ng-c2568624113="" src="images/organize/arrow-removebg-preview.png" alt="" width="40px" style="
    margin-right: -53px;
">
    </div>

    <div class="col-md-4 position-relative text-center">
      <img src="images/organize/how-are-you.jpg" alt="Vision" class="about__image img-fluid rounded shadow" />
      <!-- <i class="fa-solid fa-arrows-up-down" style=""></i>
      <div class="about__dot about__dot--right"></div>
      <div class="about__dot about__dot--bottom"></div> -->
    </div>

    <div class="col-md-3 text-md-left d-flex align-items-center">
      <img _ngcontent-ng-c2568624113="" src="images/organize/arrow-removebg-preview.png" alt="" width="40px" style="
      margin-left: -58px;
  ">   <div class="mx-2">
      <h5 class="about__heading ">Notre mission</h5>
      <p class="about__text" style="color:#888">
        Développer des projets innovants qui transforment le paysage sportif africain et révèlent le potentiel inexploité du continent.
      </p>
    </div>
    </div>
  </div>

  <div class="row justify-content-center text-center mb-5">
    <div class="col-md-6">
      <img _ngcontent-ng-c3298873934="" src="images/organize/arrow-removebg-preview.png" width="40px" alt="" style="transform: rotate(90deg);/* margin-bottom: 10px; */margin-top: -10%;">
     <div style="margin-top: -9px">
      <h5 class="about__heading ">Nos valeurs</h5>
      <p class="about__text" style="color:#888">
        Rigueur, créativité et engagement envers une transformation durable du sport et de la culture en Afrique.
      </p>
    </div>
    </div>
  </div>

  <hr class="about__divider  d-block w-25"  />

  <div class="row ">
    <div class="col-md-10">

      <p class="about__footer" style="color:#888">
        <strong>AFRISPORT Dynamics</strong> est une entreprise dynamique qui s'engage profondément dans le développement
        sportif, technologique et culturel en Afrique. Notre approche combine rigueur professionnelle et créativité
        novatrice pour transformer chaque projet en une force de changement positif et durable.
      </p>
    </div>
  </div>
</div>
</section>
