.about {
  background-color: #000;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__title {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__heading {
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
  }

  &__text {
    color: #eee;
    font-size: 1rem;
  }

  &__image {
    max-width: 100%;
    width: 270px;
    border-radius: 10px;
  }

  &__dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;

    &--left {
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      border-left: 2px solid red;
      height: 2px;
      width: 25px;
    }

    &--right {
      top: 50%;
      right: -30px;
      transform: translateY(-50%);
      border-right: 2px solid red;
      height: 2px;
      width: 25px;
    }

    &--bottom {
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 2px solid red;
      height: 25px;
      width: 2px;
    }
  }

  &__divider {
    border: 1px solid #ccc;
  }

  &__footer {
    font-size: 0.95rem;
    color: #ccc;

    strong {
      color: white;
    }
  }
}
